
<%= link_to "新規投稿", new_post_path %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>コメント数</th>
      <th>いいね数</th>
    </tr>
  </thead>
  <tbody>
    <% posts.reverse.each do |post| %>
      <tr>
        <td><%= link_to truncate(post.title, length: 10), admin_post_path(post.id), class: "title-link" %></td>
        
        <td>
          <%= truncate(post.body, length: 20) %>
        </td>

        <td><%= post.comments.count %></td>
        
        <td><%= render "admin/favorites/btn", post: post %></td>
      </tr>
    <% end %>
  </tbody>
</table>



