
<div class='container mt-5'>
  <div class='row'>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <h2 class="mb-4">投稿詳細</h2>

      <h3 class="fw-bold">タイトル</h3>
      <p class="mb-3"><%= @post.title %></p>

      <h3 class="fw-bold">本文</h3>
      <p class="mb-3"><%= @post.body %></p>

      <h4>コメント数</h4>
      <p class="mb-4"><%= @post.comments.count %></p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-between">
        <%= link_to "削除", admin_post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mb-2 mb-md-0" %>
      </div>

      <div class="mt-4">
        <%= render "admin/favorites/btn", post: @post %>
      </div>
    </div>
  </div>

  <div class="comment-section mt-4">
    <%= render "admin/comments/index", post: @post %>
  </div>
</div>
