<h1>投稿一覧</h1>

<%= link_to "新規投稿", new_post_path %>

<% @posts.reverse.each do |post| %>
  <p>タイトル</p>
  <%= link_to post.title, post_path(post.id) %>
  <%= post.body %>
  <p>コメント数</p>
  <%= post.comments.count %>
  <td><%= render "favorites/btn", post: post %></td>
<% end %>