
<h1>新規投稿</h1>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, local: true, mothod: :post do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field:title, placeholder: "タイトル", class: "" %>
  <h4>本文</h4>
  <%= f.text_area:body, placeholder: "本文", class: "" %>
  <h4>タグ</h4>
  <%= f.text_field:category, placeholder: "タグ", class: "" %>
  <%= f.submit "作成", class: ""%>
<% end %>