
<div class='container mt-5 posts-index'>
  <div class='row'>
    <div class='col-12'>
      <h2 class="mb-4">投稿一覧</h2>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>投稿者</th>
              <th>タイトル</th>
              <th>内容</th>
              <th>コメント数</th>
              <th>いいね数</th>
            </tr>
          </thead>
          <tbody>
            <% @tag.posts.reverse.each do |post| %>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <% if post.user.profile_image.attached? %>
                      <%= image_tag post.user.profile_image, class: "profile-image rounded-circle me-2" %>
                    <% else %>
                      <%= image_tag "no_image.jpg", class: "profile-image rounded-circle me-2" %>
                    <% end %>
                    <%= link_to post.user.name, user_path(post.user), class: "user-link" %>
                  </div>
                </td>

                <td><%= link_to truncate(post.title, length: 10), post_path(post.id), class: "title-link" %></td>
                
                <td class="text-break"><%= truncate(post.body, length: 20) %></td>

                <td><%= post.comments.count %></td>

                <td><%= render "favorites/btn", post: post %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
